<div class="footer">
    <div class="inner-footer">

        <div class="footer-items">
            <h1>ArtGallery</h1>
            <h2>Developed by</h2>
            <hr>
            <ul>
                <li>Nayan- nayan@gmail.com</li>
                <li>Keerthan - hs.keerthan@gmail.com</li>
            </ul>

        </div>

        <div class="footer-items">
            <h2>Quick Links</h2>
            <hr>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/gallery">
                    <li>Gallery</li>
                </a>
                <a href="">
                    <li>About Us</li>
                </a>
                <a href="/auction">
                    <li>Auction</li>
                </a>
            </ul>
        </div>
        <div class="footer-items">
            <h2>Contact Us</h2>
            <hr>
            <ul>
                <li> <i class="fa fa-map-marker" aria-hidden="true"></i> 2nd Street,Vijayanagar,Bengaluru </li>
                <li> <i class="fa fa-phone" aria-hidden="true"></i> 123456789</li>
                <li> <i class="fa fa-envelope" aria-hidden="true"></i> art@gallery.com</li>
            </ul>
            <div class="social-media">

                <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                <a href=""><i class="fab fa-linkedin-in fa-2x"></i></a>


            </div>

        </div>
    </div>
    <div class="footer-buttom">
        Copyright &copy; ArtGallery 2020,All rights reserved
    </div>
</div>

</div>



</body>

</html>
