<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="/stylesheets/front.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <a href="/" style="color: azure;">
              ArtGallery
            </a>
                </div>

                <div class="menu-icons open">
                    <i class="fas fa-bars"></i>
                </div>

                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="fas fa-times"></i>
                    </div>

                    <li class="nav-item">
                        <a href="/" class="nav-link current">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/gallery" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auction" class="nav-link">Auctions</a>
                    </li>
                    <%if(!currentUser){ %>
                        <li class="nav-item">
                            <a href="/users/register" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/login" class="nav-link">Login</a>
                        </li>
                        <%} else {%>

                            <li class="nav-item">
                                <a href="/users/logout" class="nav-link">Log-out</a>
                            </li>
                            <% }%>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="main-msg">
                <h1>Welcome to the one and only Art Auction site of Bengaluru</h1>
                <% if(currentUser && currentUser.isAdmin) { %>
                    <br />
                    <h1>You are an admin</h1>
                    <%} %>
                        <div class="cta">
                            <a href="/auction" class="btn hvr-icon-rotate">
              Live Auction
              <span
                ><img
                  class="hvr-icon"
                  src="/img/auction2.png"
                  style="width: 22px;"
              /></span>
            </a>
                        </div>
            </div>
        </div>
    </section>

    <section class="category-section">
        <div class="container">
            <h1 class="cat-header">OUR CATEGORIES</h1>

            <div class="category-grid">
                <a href="/gallery/category/Paintings">
                    <div class="category-grid-item painting">
                        <h1>Paintings</h1>
                        <p>
                            Paintings have a life of their own that derives from the painter's soul
                        </p>
                        <cite>-Van Gough</cite>
                    </div>
                </a>

                <a href="/gallery/category/Sketches">
                    <div class="category-grid-item sketch">
                        <h1>Sketches</h1>
                        <p>
                            Drawing is rather like playing chess: your mind races ahead of the moves that you eventually make.
                        </p>
                        <cite>-David Hockney</cite>
                    </div>
                </a>

                <a href="/gallery/category/Sculptures">
                    <div class="category-grid-item sculpture">
                        <h1>Sculptures</h1>
                        <p>
                            Every block of stone has a statue inside it and it is the task of the sculptor to discover it.
                        </p>
                        <cite>-Michelangelo</cite>
                    </div>
                </a>

                <a href="/gallery/category/Photographs">
                    <div class="category-grid-item photographs">
                        <h1>Photographs</h1>
                        <p>A good snapshot top a moment from running away</p>
                        <cite>-Edura Welty</cite>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis vel quis, ab provident repellat incidunt blanditiis doloremque esse, tempore magnam in asperiores accusantium cupiditate cumque illo ullam natus eaque nobis! Zoomw dwwfn fjwhedwedbqwkjQWDJNEKJCFHEB
                DJCHN BWASJDNZJEWDkjdfjdfvjdfjdfjndndcnjdlideliudeiffdlvnlfvkdfjvkfvjnkjnkdfvnkjmnkjdfkjckjndj ikfdjfvjdfjjdfnjdfjnjddcnjjndjnjfjndcnjndfjnjndfjdcnhjdfchjdfhjdhjhjcfdhjdfhjdfhjdfhjdfhjdfdhjdfhjdfhjf
            </p>
            <h1 countdown></h1>
        </div>
    </section>

    <script type="text/javascript" src="/script/front.js"></script>
    <%- include('partials/footer'); %>
</body>

</html>